<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!-- RobotOS settings provider permission (per RobotOS API doc) -->
  <uses-permission android:name="com.ainirobot.coreservice.robotSettingProvider" />

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:label="RobotNavDemo"
    android:supportsRtl="true"
    android:usesCleartextTraffic="true">

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Optional: allow RobotOS to set this app as default/home app -->
      <intent-filter>
        <action android:name="action.orionstar.default.app" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

    </activity>

  </application>

</manifest>
